*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

.container{
    background-color: black;
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}

.loading-page{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 1rem;
    align-items: center;
    justify-items: center;
}

#svg{
    height: 150px;
    width: 150px;
    fill-opacity: 0;
    stroke-width: 5px;
    stroke-dasharray: 4500;
    animation: draw 60s ease;
}

@keyframes draw {
    0%{
       stroke-dashoffset: 4500; 
    }
    100%{
        stroke-dashoffset: 0;
    }
}

.name-container{
    height: 30px;
    overflow: hidden;
}

.logo-name{
    color: #fff;
    font-size: 20px;
    letter-spacing: 12px;
    text-transform: uppercase;
}

