@import "tailwindcss";

body {
    min-height: 100vh;
    overflow-x: hidden
}

image-tail{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    pointer-events: none;
    /* opacity: 0; */
}