@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lateef:wght@200;300;400;500;600;700;800");

body{
    min-height: 100vh;
    font-family: "Special Gothic Condensed One", sans-serif;
    background-color: #fadadd;
    color: #73403c;
    overflow-x: hidden; 
}